<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
    <div class="wrapper">
        <h2 class="footer-heading">IF11C - Berufschulerepo</h2>
        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                <ul class="contact-list">
                    <li class="p-name">Hier beschweren und kommentieren</li>
                    <li><a href="https://forms.gle/efXCc41bpAw2JcBz9">Google Feedback form</a></li>
                </ul>
            </div>
            <div class="footer-col footer-col-2">
                <ul class="social-media-list">
                    <li>
                        <a href="https://github.com/myLogic207">
                            <svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#github"></use>
                            </svg>
                            <span class="username">GitHub</span>
                        </a>
                    </li>
                    <!-- <li>
                        <a href="https://www.twitter.com/myLogic207">
                            <svg class="svg-icon">
                                <use xlink:href="/assets/minima-social-icons.svg#twitter"></use>
                            </svg>
                            <span class="username">Twitter</span>
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="footer-col footer-col-3">
                <p>
                    <c>Willst du nicht lieber spenden als das zu lesen?</c>
                    <a href="https://ko-fi.com/myLogic207">Hier Spenden</a>
                </p>
            </div>
            <div class="footer-col-4">
                <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
                <script>
                    kofiWidgetOverlay.draw('mylogic207', {
                        'type': 'floating-chat',
                        'floating-chat.donateButton.text': 'Spenden',
                        'floating-chat.donateButton.background-color': '#29353D',
                        'floating-chat.donateButton.text-color': '#adb5bd'
                    });
                </script>
            </div>
        </div>
    </div>
</footer>
<div class="floaty_wrapper">
    <button class="to_top_btn">
        <a href="#top">▲</a>
    </button>
</div>